Repository kairin/002-mcp-manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: astro-check, astro-build, pytest

astro-check:
  name: Astro TypeScript Check
  entry: npm run check
  language: system
  pass_filenames: false

astro-build:
  name: Build Astro Site
  entry: npm run build
  language: system
  pass_filenames: false
  stages:
  - push

pytest:
  name: Run Python tests
  entry: python -m pytest tests/ --cov=mcp_manager --cov-fail-under=80
  language: system
  pass_filenames: false
  stages:
  - push

fix: Rebuild website to restore GitHub Pages deployment
  docs/_astro/client.DL-_0xdV.js
  docs/_astro/index.BNpuQnju.css
  docs/favicon.svg
  docs/index.html
  docs/office-setup/index.html
Due: astro-check, astro-build

docs: Add critical GitHub Pages deployment requirements
  AGENTS.md
Due: none

docs: Clarify AGENTS.md as primary AI instruction document
  AGENTS.md
Due: none

feat: Add automated GitHub Pages build verification
  .pre-commit-config.yaml
Due: none

feat: Add comprehensive visual documentation with GitHub Pages screenshots
  CHANGELOG.md
  README.md
  docs/images/features-overview.png
  docs/images/homepage-full.png
  docs/images/homepage-hero.png
  docs/images/mcp-servers.png
  docs/images/office-setup-guide.png
  screenshots/features.png
  screenshots/hero-section.png
  screenshots/mcp-servers.png
Due: none

fix: Correct navigation URLs in Office Setup page
  docs/office-setup/index.html
  src/pages/office-setup.astro
Due: astro-check, astro-build

fix: Complete navigation and deployment sync
  .playwright-mcp/docs-images-homepage-full.png
  .playwright-mcp/screenshots-features-section.png
  .playwright-mcp/screenshots-homepage-hero.png
  .playwright-mcp/screenshots-mcp-servers-section.png
  .playwright-mcp/screenshots-office-setup-page.png
  node_modules/.vite/deps/_metadata.json
Due: none

fix: Resolve markdown parsing displaying and placeholders
  docs/office-setup/index.html
  src/pages/office-setup.astro
Due: astro-check, astro-build

feat: Update all website screenshots to dark mode
  .playwright-mcp/features-overview-dark.png
  .playwright-mcp/homepage-full-dark.png
  .playwright-mcp/homepage-hero-dark.png
  .playwright-mcp/mcp-servers-dark.png
  .playwright-mcp/office-setup-current.png
  .playwright-mcp/office-setup-dark-mode.png
Due: none

fix: Add smooth scrolling behavior for anchor link navigation
  docs/_astro/index.BNpuQnju.css
  docs/_astro/index.BjHt10u3.css
  docs/images/features-overview.png
  docs/images/homepage-full.png
  docs/images/homepage-hero.png
  docs/images/mcp-servers.png
  docs/images/office-setup-guide.png
  docs/index.html
  docs/office-setup/index.html
  src/layouts/Layout.astro
Due: astro-check, astro-build

fix: Remove misleading pip install references from documentation
  docs/index.html
  src/components/Documentation.astro
Due: astro-check, astro-build

fix: Fix broken anchor links from #getting-started to #documentation
  docs/index.html
  src/components/Hero.astro
  src/components/MCPServers.astro
Due: astro-check, astro-build

feat: Add dark/light mode theme toggle button
  docs/_astro/index.BjHt10u3.css
  docs/_astro/index.cF-oA2o3.css
  docs/index.html
  docs/office-setup/index.html
  src/components/ThemeToggle.astro
  src/layouts/Layout.astro
Due: astro-check, astro-build

feat: Add Microsoft MarkItDown MCP server support
  AGENTS.md
  docs/index.html
  src/components/Documentation.astro
  src/components/MCPServers.astro
Due: astro-check, astro-build

feat: Integrate Microsoft MarkItDown MCP server with uv-first implementation
  AGENTS.md
  docs/index.html
  mcp-global-manager.py
  src/components/Documentation.astro
  src/mcp_manager/cli.py
  src/mcp_manager/fleet_manager.py
  verify_mcp_servers.py
Due: astro-check, astro-build, pytest

docs: Add comprehensive UV-first troubleshooting and instruction compliance guides
  CHANGELOG.md
  README.md
  TROUBLESHOOTING.md
Due: none

fix: MarkItDown MCP server cross-directory compatibility and changelog v1.2.1
  CHANGELOG.md
Due: none

docs: establish constitution v1.0.0 (seven mandatory principles)
  .claude/commands/analyze.md
  .claude/commands/clarify.md
  .claude/commands/constitution.md
  .claude/commands/implement.md
  .claude/commands/plan.md
  .claude/commands/specify.md
  .claude/commands/tasks.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  specs/001-fix-documentation-inconsistencies/spec.md
Due: none

docs: complete constitution v1.0.0 integration
  .claude/commands/analyze.md
  .claude/commands/clarify.md
  .claude/commands/constitution.md
  .claude/commands/implement.md
  .claude/commands/plan.md
  .claude/commands/specify.md
  .claude/commands/tasks.md
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
  specs/001-fix-documentation-inconsistencies/plan.md
  specs/001-fix-documentation-inconsistencies/spec.md
Due: none

docs: finalize spec-kit integration files
  specs/001-fix-documentation-inconsistencies/plan.md
  specs/001-fix-documentation-inconsistencies/research.md
Due: none

docs: complete documentation inconsistencies fix specification
  specs/001-fix-documentation-inconsistencies/data-model.md
  specs/001-fix-documentation-inconsistencies/plan.md
  specs/001-fix-documentation-inconsistencies/quickstart.md
  specs/001-fix-documentation-inconsistencies/tasks.md
Due: none

docs: fix GitHub MCP type and create FOLLOWING-INSTRUCTIONS guide
  AGENTS.md
  CHANGELOG.md
  README.md
Due: none

docs: implement comprehensive security & privacy protection framework
  .specify/memory/constitution.md
  AGENTS.md
  CHANGELOG.md
Due: none

feat: update website to reflect v1.2.3 improvements and framework
  docs/_astro/index.CIjtlzRO.css
  docs/_astro/index.cF-oA2o3.css
  docs/index.html
  docs/office-setup/index.html
  src/components/Documentation.astro
  src/components/Features.astro
  src/components/Hero.astro
  src/components/MCPServers.astro
  src/pages/index.astro
Due: astro-check, astro-build

docs: enhance CHANGELOG with GitHub MCP HTTP failure details
  CHANGELOG.md
Due: none

docs: fix GitHub MCP type and create FOLLOWING-INSTRUCTIONS guide
  AGENTS.md
  README.md
  docs/FOLLOWING-INSTRUCTIONS.md
Due: none

docs: add complete task verification to CHANGELOG v1.2.3
  CHANGELOG.md
Due: none

docs: confirm all 6 MCP servers operational and update configuration examples
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/FOLLOWING-INSTRUCTIONS.md
  docs/_astro/index.BJVeRybr.css
  docs/_astro/index.CIjtlzRO.css
  docs/index.html
  docs/office-setup/index.html
Due: astro-build

feat: implement local CI/CD workflow to eliminate GitHub Actions failures
  AGENTS.md
  CHANGELOG.md
  README.md
  scripts/deploy.sh
Due: none

fix: remove GitHub Actions workflow files from repository
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

docs: complete documentation and script reorganization
  AGENTS.md
  CHANGELOG.md
  README.md
  docs/FOLLOWING-INSTRUCTIONS.md
  docs/api.md
  docs/configuration.md
  docs/servers.md
  docs/troubleshooting.md
  scripts/README.md
  scripts/deployment/deploy.sh
  scripts/deployment/local-ci.sh
  scripts/git/check-branch-name.sh
  scripts/git/push-workflow.sh
  scripts/legacy/repo-setup-script.sh
  scripts/setup/hf_quick_setup.sh
  scripts/setup/test_claude_fix.sh
Due: none

docs: update markitdown configuration to use UV-first approach
  AGENTS.md
  README.md
  docs/FOLLOWING-INSTRUCTIONS.md
  docs/api.md
  docs/configuration.md
  docs/servers.md
  docs/troubleshooting.md
Due: none

feat: add office-wide MCP deployment management
  README.md
  docs/OFFICE-DEPLOYMENT.md
  src/mcp_manager/cli.py
  src/mcp_manager/office_deployment.py
Due: pytest

refactor: reorganize repository structure per constitution v1.1.0
  .specify/memory/constitution.md
  README.md
  docs/CHANGELOG.md
  docs/OFFICE_SETUP.md
  docs/TROUBLESHOOTING.md
  docs/complete-mcp-guide.md
  docs/mcp-github-repo.md
  scripts/README.md
  scripts/legacy/mcp-global-manager.py
  scripts/setup/hf_quick_setup.sh
  scripts/setup/setup_hf_mcp.py
  scripts/setup/setup_hf_with_cli.py
  scripts/verify/verify_mcp_servers.py
Due: pytest

chore: sync local changes
  docs/_astro/client.Bx7k8SOM.js
  package-lock.json
  package.json
  src/mcp_manager/cli.py
  src/mcp_manager/mcp_installer.py
Due: astro-check, astro-build, pytest

chore(deps): upgrade all dependencies to latest versions
  package-lock.json
  package.json
  uv.lock
Due: none

Path conditions:
  astro-check: any of: \.(astro|tsx?|jsx?)$
  astro-build: any of: \.(astro|tsx?|jsx?|css)$
  pytest: any of: \.(py)$
